<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IM W3W Scavenger Hunt</title><link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container-fluid background-shade">
            <nav class="navbar navbar-light bg-light w-100">
                <a class="navbar-brand" href="#">
                    <img src="/images/im-logo.png" width="" height="120" alt="">
                        <h1 class="navbar-text">IM Scavenging</h1>
                </a>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <form class="logout-form" action="/logout?_method=DELETE" method="POST">
                            <button class="logout-button" type="button">
                                <i class="fa fa-sign-out fa-2x" aria-hidden="true"><span class="navbar-text">Logout</span></i></a>
                            </button>
                        </form>
                    </li>
                </ul>                
            </nav>   

        <div class="row">
            <div class="splash-title col d-flex justify-content-center">
                <h1 class="my-auto">What3Words Scavenger Hunt</h1>
            </div>          
            <% if (username == "Admin") { %>
                <button class="guesses--next-question btn-floating">Next</button>
        <% }  %>                 
        </div>    
         
    <div class="row tile d-flex justify-content-center background-shade clues">
        <div class="col-9 col-lg-3 white--tile">
            <h2>Hint #1</h2>     
            <p id="hint-1" class="clues--hint"></p>       
        </div>
        <div class="col-9 col-lg-3  offset-lg-1 white--tile">
            <h2>Hint #2</h2>      
            <p id="hint-2" class="clues--hint"></p>                         
        </div>
        <div class="col-9 col-lg-3  offset-lg-1 white--tile">
            <h2>Hint #3</h2>    
            <p id="hint-3" class="clues--hint"></p>                           
        </div>                            
    </div>    
    <div class="row tile d-none justify-content-center background-shade location-hint white--tile">
        <div class="col-12 ">
            <h2>Location Hint</h2>      
            <p id="location-hint-text" class="clues--hint"></p>                         
        </div>   
    </div>    
    <div class="row guesses">
        <div class="col-12">
            <div class="row guesses-title">
                <div class="col-12">
                    <h2>Enter your guesses</h2>            
                </div>
      
            </div>
            <div class="row guesses">        
                <div class="col-4 col-lg-3 d-flex mb-3 justify-content-center ">
                    <input class="form-control my-auto guesses--words" type="text" id="what-1">
                    <span class="guesses--mark my-auto" id="mark-1">
                        <img src="./images/box.png">
                    </span>
                </div>
               
                <div class="col-4 col-lg-3 d-flex mb-3 justify-content-center">
                    <input class="form-control my-auto guesses--words type="text" id="what-2">
                    <span class="guesses--mark my-auto" id="mark-2">
                        <img src="./images/box.png">
                    </span>
                </div>

                <div class="col-4 col-lg-3 d-flex mb-3 justify-content-center">
                    <input class="form-control my-auto guesses--words" type="text" id="what-3">   
                    <span class="guesses--mark my-auto" id="mark-3">
                        <img src="./images/box.png">
                    </span>         
                </div>
                <div class="col-6 d-lg-none">

                </div>                
                <div class="col-6 col-lg-2 my-auto d-flex justify-content-end">
                    <button class="guesses--submit-words my-auto btn btn-outline-primary">Submit</button>
                </div>
            </div>        
        </div>
    </div>
    <div class="row messages">
        <div class="col-12">
            <h2 class="message"></h2>
        </div>    
    </div>
    <div class="row">
        <div class="col-10 offset-1 col-lg-6 offset-lg-0 ">
            <div  id="map" class="w-100">
                <!-- Map display-->
            </div>            
        </div>
        <div class="col-10 offset-1 col-lg-6 offset-lg-0 leaderboard">
            <div class="leaderboard--contestant row">
                <div class="col-3 my-auto">
                    <h4 class="contestant-name">Player</h4>
                </div>
                <div class="col-7 leaderboard--sites-found">
                    <h4>Locations Found</h4>
                </div>
                <div class="col-2">
                    <h4 class="contestant-score">Score</h4>
                </div>
            </div>
        </div>
    </div>  
</div>

<div class="score-penalty">
    <span>-2</span>
</div>

<div id="congratulations-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Well Done!</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p></p>
          <div class="modal-image d-flex my-auto">
            <img class="d-block mx-auto" src="" alt="">
          </div>          
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="my-auto btn btn-outline-primary">Ok</button>
        </div>
      </div>
    </div>
</div>

<div id="error-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Location Not Found</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Invalid or non-existent 3 word address.</p>
          <p>Try again!</p>      
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class=" my-auto btn btn-outline-primary">Close</button>
        </div>
      </div>
    </div>
</div>

<div id="winners-modal" class="modal"  tabindex="-1" role="dialog">
    <div class="modal-dialog modal-full"  role="document">
      <div class="modal-content winner-modal-content" >
        <div class="modal-header splash-title justify-content-center" >
          <h3 class="modal-title winner-modal--title">And the winners are...</h3>
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>-->
        </div>
        <div class="modal-body winner-modal-body">
                            <div class="winnerboard--contestant row">
                                <div class="col-3 my-auto">
                                    <h4 class="winnerboard-contestant-name">Player</h4>
                                </div>
                                <div class="col-7 winnerboard--sites-found">
                                    <h4>Locations Found</h4>
                                </div>
                                <div class="col-2">
                                    <h4 class="winnerboard-contestant-score">Score</h4>
                                </div>
                            </div>
    
        </div>
        <!--<div class="modal-footer">
            <button data-dismiss="modal" class="my-auto btn btn-outline-primary">Ok</button>
        </div>-->
      </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script src="https://assets.what3words.com/sdk/v3/what3words.js?key=ZJXQURHQ"></script>  
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/input.js"></script>
<script type="text/javascript" src="js/game.js"></script>

</body>
</html>