<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IM W3W Scavenger Hunt</title><link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="container-fluid background-shade">

            <nav class="navbar navbar-light bg-light w-100">
                    <a class="navbar-brand" href="#">
                        <img src="/images/im-logo.png" width="" height="120" alt="">
                        <h1 class="navbar-text">Reading TTE</h1>
                    </a>
                    </nav>   

 
    <div class="row">
        <div class="splash-title col d-flex justify-content-center">
            <h1 class="my-auto">What3Words Scavenger Hunt</h1>
        </div>
    </div>
    <form action="/login" method="POST">
    <div class="row tile d-flex justify-content-center background-shade">
        <div class="col-10 col-offset-1 col-lg-4 white--tile">
            <h2>Login</h2>      
            <p>Enter username</p>
            <input type="text" id="username" name="username" placeholder="Username">     
            <p>Enter password</p>
            <input type="text" id="password" name="password" placeholder="Password">     
            <p><% if (messages.error) { %>
            <%= messages.error %>
            <% } %>
            </p>                                 
        </div>
    </div>
    <div class="row tile d-flex justify-content-center background-shade">
        <div class="col-10 col-offset-1 col-lg-4 white--tile">
            <button type="submit" class="my-auto btn btn-outline-primary">Submit</button>  
   
            <p>Not registered? Register <a href="register">here</a></p>                                                                                
        </div>    
    </div>   
    </form>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script src="/socket.io/socket.io.js"></script>

</body>
</html>